//== Pagination
//
//##

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$pagination-color:                     #4a5d74 !default;
$pagination-bg:                        none !default;
$pagination-border:                    none !default;

//$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  none !default;
$pagination-hover-border:              none !default;

$pagination-active-color:              #000 !default;
$pagination-active-bg:                 none !default;
$pagination-active-border:             none !default;

//$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               none !default;
$pagination-disabled-border:           none !default;

$screen-sm:                  730px !default;

$product-tag-bg:                       rosybrown;
$product-tag-color:                    white;

//JBIDE-19980 need better contrast
$darkish-grey:                         #333;

$icon-font-path:                       "../lib/bootstrap-sass-official/fonts/" !default;